.faq-container {
    position: fixed;
    bottom: 20px;
    left: 20px; /* Changed from right to left */
    z-index: 1000;
  }
  
  .faq-button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .faq-button:hover {
    background-color: #5e5e5e;
  }
  
  .faq-popup {
    position: fixed;
    bottom: 80px;
    left: 20px; /* Changed from right to left */
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1001;
  }
  
  .faq-popup h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #450000;
  }
  
  .faq-content {
    margin-top: 10px;
  }
  
  .faq-item {
    margin-bottom: 15px;
  }
  
  .faq-item h3 {
    font-size: 16px;
    color: #000000;
    margin-bottom: 5px;
  }
  
  .faq-item p {
    font-size: 14px;
    color: #555;
    margin: 0;
  }