.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* This is commented out in your code */
    padding: 5px 50px 5px 30px;
    height: 13vh;
    
    gap: 10px;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* margin-top: 10px; */
    color: black;
   backdrop-filter: blur(10px);

}
button {
    border: none;
    background: none;
    font-size: 18px;
    margin: 0 25px;
    padding: 10px 15px;
    border-radius: 8px;
    color: black;
}
button:hover {
    background-color: rgba(255, 255, 255, 0.59);
    cursor: pointer;

}
#login, #signup {
    background-color: black;
    color: white;
    border: 1px solid black;
}
#login:hover{
    cursor: pointer;
    color: black;
    background-color: rgba(255, 255, 255, 0.59);


}
/* Add to your header.css */
#login.connected {
    background-color: #4CAF50; /* or any color you prefer */
    color: white;
}

#login {
    min-width: 140px; /* To prevent button size changes when showing address */
}
/* #signup {
    background-color: black;
    color: white;
} */